body, html {
  min-height: 100%;
}

body, h1, input, button {
  font-family: 'Raleway', sans-serif;
}

body {
  font-weight: normal;
  text-align: center;
  background-image:url(../img/nyc_fall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  margin-bottom: 2cm;
  margin-top: 2cm;
}


h1 {
  margin: 15px 0;
  text-align: center;
  text-shadow: 2px 2px black;
  color: white;
  font-size: 5em;
  font-weight: bolder;
  line-height: 0.8em;
}

footer {
  font-size: 0.5em;
  color: white;
  margin-top: 375px;
}

input {
  border: solid gray 1px;
  padding: 10px;
  font-size: 24px;
  text-align: center;
}

button {
  border-radius: 0;
  color: #000000;
  font-size: 20px;
  background: #ffffff;
  padding: 10px;
  border: solid gray 1px;
}
