body {
  font-weight: normal;
  text-align: center;
  background-color: gray;
  font-family: 'Raleway', sans-serif;
}

h1 {
  margin: 1cm 0 1cm 0;
  text-align: center;
  text-shadow: 2px 2px black;
  color: white;
  font-size: 5em;
  font-weight: 900;
}

footer {
  font-size: 0.5em;
  color: white;
  margin-top: 130px;
  text-shadow: 1px 1px black;
}

input {
  box-shadow: 2px 2px black;
  border: none;
  margin: 20px 0 10px 0;
  padding: 20px;
  font-size: 30px;
  color: black;
  background: white;
  text-align: center;
  font-weight: 900;
}

button {
  box-shadow: 2px 2px black;
  border-radius: 0px;
  border: none;
  padding: 10px;
  color: black;
  background: white;
  font-size: 25px;
  font-weight: 900;
  margin: 15px 15px 15px 15px;
}

#remainder, #hotOrCold {
  margin-top: 1cm;
  font-weight: 900;
  font-size: 30px;
  text-shadow: 2px 2px black;
  color: white;
}